<nav id="sidebar">
    <div class="sidebar_blog_1">
       <div class="sidebar-header">
          <div class="logo_section">
             <a href="index.html"><img class="logo_icon img-responsive" src="assets/images/polinalogo.jpg" alt="#" /></a>
          </div>
       </div>
       <div class="sidebar_user_info">
          <div class="icon_setting"></div>
          <div class="user_profle_side">
             <div class="user_img"><img class="img-responsive" src="assets/images/layout_img/user_img.jpg" alt="#" /></div>
             <div class="user_info">
                <h6>John David</h6>
                <p><span class="online_animation"></span> Online</p>
             </div>
          </div>
       </div>
    </div>
    <div class="sidebar_blog_2">
       <h4>Polina Admin</h4>
       <ul class="list-unstyled components">
          <li class="active">
             <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
             <ul class="collapse list-unstyled" id="dashboard">
                <li>
                   <a routerLink="">> <span>Admin Dashboard</span></a>
                </li>
                
             </ul>
          </li>
          <li><a routerLink="rec"><i class="fa fa-clock-o orange_color"></i> <span>Plan d'action</span></a></li>
          <li>
             <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Gestion de Filiales</span></a>
             <ul class="collapse list-unstyled" id="element">
                <li><a routerLink="/pole">> <span>Pole</span></a></li>
                <li><a href="/filiale">> <span>Filiale</span></a></li>
                <li><a routerLink="/gnorme">> <span>Norme</span></a></li>
             </ul>
          </li>
          <li><a routerLink="/evaluation"><i class="fa fa-table purple_color2"></i> <span>Evaluation</span></a></li>
          <li>
             <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-paper-plane red_color"></i> <span>Contact</span></a>
             <ul class="collapse list-unstyled" id="apps">
                <li><a routerLink="/mail">> <span>Email</span></a></li>
                <li><a href="calendar.html">> <span>Calendar</span></a></li>
             </ul>
          </li>
         <li>
             <a routerLink="/profile">
               <i class="fa fa-user" aria-hidden="true"></i>
               <span>Profil</span></a>
          </li>
       </ul>
    </div>
 </nav>
 <!-- end sidebar -->
 <div id="content">
    <!-- topbar -->
    <div class="topbar">
       <nav class="navbar navbar-expand-lg navbar-light">
          <div class="full">
             <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
             <div class="logo_section">
                <a href="index.html"><img class="img-responsive" src="assets/images/polinalogo.jpg" alt="#" /> Polina Holding Group</a>
             </div>
             <div class="right_topbar">
                <div class="icon_info">
                   <ul>
                      <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                      <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                   </ul>
                   <ul class="user_profile_dd">
                      <li>
                         <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="assets/images/layout_img/user_img.jpg" alt="#" /><span class="name_user">John David</span></a>
                         <div class="dropdown-menu">
                            <a class="dropdown-item" href="profile.html">My Profile</a>
                            <a class="dropdown-item" href="settings.html">Settings</a>
                            <a class="dropdown-item" href="help.html">Help</a>
                            <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                         </div>
                      </li>
                   </ul>
                </div>
             </div>
          </div>
       </nav>
    </div>
 