

<div class=" card">

  <div class="col-8 centerDiv">
    <div class="card-header ">
      <h2>Ajouter un norme</h2>

    </div>
    <div class="card-body">
      <form [formGroup]="formCum" autocomplete="off" (ngSubmit)="submitFormCum()">
        <div class="form-group">
          <label for="form7"><h4>Commentaire</h4></label>
          <textarea type="text" class="md-textarea md-textarea-auto form-control" mdbInput
            formControlName="designation"></textarea>

        </div>
      </form>
    </div>
  </div>

  <div class="card-footer">
    <button class="btn btn-primary float-right"  (click)="submitFormCum()" >Enregistrer</button>
  </div>

</div>