<div class="container">

    <h5 class="d-flex justify-content-center">Gestion des normes d'evaluations</h5>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button routerLink="/gnorme"
            class="m-1 btn btn-light btn-outline-primary" Button>Norme</button>
        </li>
        

        <li class="nav-item">
            <a routerLink="/critere"
            class="m-1 btn btn-light btn-outline-primary" >Critere</a>
        </li>
    </ul>
    </nav>
   
    <button type="button" class="fa fa-plus-circle btn btn-light float-right m-2" 
                 data-toggle="modal" data-target="#exampleModal"
                 
                 data-backdrop="static" data-keyboard="false"
              >
              Ajouter norme
              </button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5><button type="button" class="close" 
        data-dismiss="modal" aria-label="Close"
         >
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-froup row">
          <label class="col-sm-2 col-form-label">libele de norme </label>
          <div class="col-sm-10">
              <input type="text" class="form-control" 
              placeholder="Entrer le nouveau norme ">
          </div>
          <div class="ml-3 bd-highlight" style="width: 40%;">
              <img  height="250px;" width="200px;">
              <input type="file"  class="mt-2"/>
              </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
        <button type="button" class="btn btn-primary" (click)="addDepartment()">ajouter </button>
      </div>
    </div>
  </div>
</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                  <div class="d-flex flex-row">
                    <input  class="form-control"
                     placeholder="Filter">
    
                    <button type="button" class="btn btn-light"
                    >
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
                    </svg>
                  </button>
                  <button type="button" class="btn btn-light"
                    >
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 8.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
                    </svg>
                  </button>
    
                  </div>
                  
                  NormeId</th>
                <th>
                  <div class="d-flex flex-row">
                    <input  class="form-control"
                     placeholder="Filter">
    
                    <button type="button" class="btn btn-light"
                    >
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
                    </svg>
                  </button>
                  <button type="button" class="btn btn-light"
                    >
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 8.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
                    </svg>
                  </button>
    
                  </div>
                   Name</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dataItem of NormeList">
                <td>{{dataItem.identifiant}}</td>
                <td>{{dataItem.libelle}}</td>
                <td>
                    <button type="button" class="btn btn-light mr-1"
                    data-toggle="modal" data-target="#exampleModal"
    
    data-backdrop="static" data-keyboard="false"
                    >
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    </button>
                    <button type="button" class="btn btn-light mr-1"
                    
                    >
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                      </svg>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>